.grey-box, dl {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.grey-box {
  margin-top: 50px;
}

th a:after {
  content: " \25B4\25BE";
}

.asc a:after {
  content: " \25B4";
}

.desc a:after {
  content: " \25BE";
}

