<div class="grey-box">
  <form class="form-inline" role="form" action="//steveklabnik.us2.list-manage.com/subscribe/post?u=31556dd6d5e1f7d449288b7d9&amp;id=3bc3472c3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <h3>Not a member yet? We're still in development!</h3>
    <p class="lead">Get an email when we launch!</p>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" type="email" placeholder="example@email.com" id="mce-EMAIL" name="EMAIL">
      </div>
      <button type="submit" class="btn btn-default">Sign Up</button>
    </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_31556dd6d5e1f7d449288b7d9_3bc3472c3e" tabindex="-1" value=""></div>
  </form>
</div>
